.sidan {
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
}
.indexh1 {
    width: fit-content;
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-size: 32px;
    border: 3px black;
    box-shadow: black;
    border-radius: 5px;
}